#gallery {
    line-height:0;
    -webkit-column-count:5; /* split it into 5 columns */
    -webkit-column-gap:5px; /* give it a 5px gap between columns */
    -moz-column-count:5;
    -moz-column-gap:5px;
    column-count:5;
    column-gap:5px;


    background-color: red;
    width: 80vw;
    position: relative;
    left: calc(-40vw + 50%);
 }




 #gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom:5px; /* to match column gap */
 }

 @media (max-width: 1200px) {
    #gallery {
     -moz-column-count:    4;
     -webkit-column-count: 4;
     column-count:         4;
    }
 }

 @media (max-width: 1000px) {
    #gallery {
     -moz-column-count:    3;
     -webkit-column-count: 3;
     column-count:         3;
    }
 }

 @media (max-width: 800px) {
    #gallery {
     -moz-column-count:    2;
     -webkit-column-count: 2;
     column-count:         2;
    }
 }

 @media (max-width: 400px) {
    #gallery {
     -moz-column-count:    1;
     -webkit-column-count: 1;
     column-count:         1;
    }
 }


 #darkbox { 
    width:1280px; 
    height:720px; 
    position:absolute; top:0; left:0; 
    background-color:#333; 
    overflow: hidden; 
    text-align:center;

    animation: fadeIn ease 500ms;
    -webkit-animation: fadeIn ease 500ms;
    -moz-animation: fadeIn ease 500ms;
    -o-animation: fadeIn ease 500ms;
    -ms-animation: fadeIn ease 500ms;
}


@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
    }

    @-moz-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
    }

    @-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
    }

    @-o-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
    }

    @-ms-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
.darkboximg { padding:5%; max-width: 1216px; max-height: 684px; }